<div class="cart-page">
  <div class="grid">
    <div class="col-8">
      <div
        class="cart-item mb-5"
        *ngFor="let item of (cart$ | async)!.items; index as index"
      >
        <div class="grid">
          <div class="col-2 cart-item-image">
            <img [src]="item.product.image" [attr.alt]="item.product.name" />
          </div>
          <div class="col-6">
            <div class="cart-item-name">{{ item.product.name }}</div>
            <div class="cart-item-price">
              {{ item.product.price | currency }}
            </div>
            <div class="cart-item-remove">
              <i
                class="pi pi-trash"
                pTooltip="delete item"
                (click)="removeItem(item.productId)"
              ></i>
            </div>
          </div>
          <div class="col-2 cart-item-quantity">
            <p-inputNumber
              mode="decimal"
              [inputId]="item.productId"
              [min]="1"
              [max]="100"
              [(ngModel)]="item.quantity"
              (keyup)="changeQuantity(item.productId, $event)"
            >
            </p-inputNumber>
            <div class="cart-item-subtotal">
              Subtotal:
              <span class="cart-item-subtotal-value">{{
                item.product.price * item.quantity | currency
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="order-summary">
        <h3>Order Summary</h3>
        <div class="summary-price">
          <span>Items Price</span>
          <span>{{ cartTotal$ | async | currency }}</span>
        </div>
        <div class="summary-price">
          <span>Packing & Shipping</span>
          <span class="free">{{ (cartTotal$ | async)! * 0.1 | currency }}</span>
        </div>
        <div class="to-checkout">
          <div class="summary-price">
            <span>Total Price</span>
            <span>{{ (cartTotal$ | async)! * 1.1 | currency }}</span>
          </div>
          <div class="checkout-button">
            <p-button label="Checkout"></p-button>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="col-12">
          <h4 *ngIf="cartCount$ | async">
            My Cart: {{ cartCount$ | async }}
            <span *ngIf="(cartCount$ | async)! > 1">Items</span>
            <span *ngIf="(cartCount$ | async)! == 1">Item</span>
          </h4>
        </div>
        <div class="col-12 cart-shipping mb-5">
          Shipping after the payment, Delivery time : 1 to 4 working days
        </div>
        <div class="col-12">
          <button class="back-button" (click)="backToShop()">
            <i class="pi pi-arrow-left"></i>Continue shopping
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
