header {
  margin-bottom: 10px;
}

.logo img {
  width: 200px;
  margin: auto;
  display: block;
  padding-bottom: 12px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // border: 2px solid red;
  font-size: 3rem;
}

.navigation-list {
  // border: 2px solid blue; 
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  
 
}
.navigation-link {
  color: black;
  font-size: 1.7rem;
  font-weight: 400;
  margin-right: 2rem;
  text-decoration: none;
  transition: color 0.5s;
}

.navigation-link:hover {
  color: #deaa86;
}

.tools {
  
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // border: 2px solid green;
}
.navigation-search {
  position: relative;
}


.navigation-search-input {
  width: 20rem;
  height:3rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-right: 3rem;
 
  color: #deaa86;
  font-family: "Josefin-sans", sans-serif;
  outline: none;
  letter-spacing: 0.1rem;
  background-color: rgba(255, 235, 235, 0.3);
  border: 0.1rem solid #555;
  border-radius: 10rem;
  transition: box-shadow 0.3s;
}

.navigation-search-input:focus {
  box-shadow: 0px 0px 5px green;
}

.navigation-search-button {
  border: none;
  background-color: transparent;
  color: #deaa86;
  font-size: 1.7rem;
  position: absolute;
  top: 0.8em;
  right: 3.5rem;
  cursor: pointer;
}

  .pi { 
    cursor: pointer;
    margin-right: 2rem;
    font-size: 1.7rem;
  }
  .pBadge:empty {
    display: none;

  }

@media(max-width: 700px) {
  
  .navigation{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  }
}

