<header>
  <div class="logo">
    <img src="../../../assets/logo.png" alt=" logo" />
  </div>

  <div class="navigation">

  <ul class="navigation-list">
    <li class="navigation-item">
      <a class="navigation-link" routerLink="/">Home</a>
    </li>

    <li class="navigation-item">
      <a class="navigation-link" routerLink="/products">Products</a>
    </li>
    <li class="navigation-item">
      <a class="navigation-link" routerLink="/products">Promotions</a>
    </li>
  </ul>


    <div class="tools">
      
  <form class="navigation-search">
    <input
      type="text"
      class="navigation-search-input"
      placeholder="Search..."
      (keyup)="onSearch()"
      [(ngModel)]="value"
    />
    <button class="navigation-search-button" (click)="onSearch()">
      <i class="fas fa-search"></i>
    </button>
  </form>
  
      <i
        class="pi pi-user text-secundary"
       
        pTooltip="profile"
        tooltipPosition="bottom"
        (click)="onLoginClick()"
      ></i>

      <i
        *ngIf="cartCount$ | async"
        class="pi pi-shopping-cart text-secundary"
        pBadge
        
        [value]="(cartCountString$ | async)!"
        severity="danger"
        pTooltip="my cart"
        tooltipPosition="bottom"
        routerLink="/cart"
      ></i>

      <i
        *ngIf="!(cartCount$ | async)"
        class="pi pi-shopping-cart text-secundary"
        
        pTooltip="my cart"
        tooltipPosition="bottom"
        routerLink="/cart"
      ></i>
    </div>

  </div>

</header>
