.login_dialog {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 500px; 
  
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(235deg, #565867, #191a25);
  border: 1px dotted #333; 
}

.login-form {
  padding-top: -20px;
  display: flex;
  flex-direction: column;
}

// .login-buttons {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

.dark-btn-confirm {
  background-color: #343a40; 
  color:rgba(255,255,255,.5);
}

.dark-btn-confirm:hover {
  background-color: black;
  color:rgba(255,255,255,.75);
}